@font-face {
  font-family: "XType";
  src: url("../assets/font/XType-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-width: none;
}

a {
  color: #007aff;
  text-decoration: none;
}

#app {
  opacity: 0;
  transition: 0.1s;
}

.start {
  position: fixed;
  top: 50%;
  transform: translate(0, -75%);
  z-index: 999;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.start .p1 {
  margin-top: 8px;
  font-size: 22px;
}

.start .p2 {
  font-size: 14px;
  color: #a0a0a0;
}

.header {
  position: fixed;
  width: 100%;
}

.header .city {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}

.header a {
  display: block;
  position: relative;
  bottom: 27px;
  left: calc(100% - 40px);
  height: 20px;
}

.header a img {
  height: 100%;
}

.header .city_locate {
  position: absolute;
  margin-top: -18px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 6px;
  height: 8px;
  background: url("../assets/local_indicator_focused.png") no-repeat;
  background-size: contain;
  filter: invert(100%);
}

.header .tips {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-top: 4px;
}

.refresh {
  margin-top: 28px;
  text-align: center;
}

.refresh svg {
  height: 30px;
}

.refresh path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 80;
  stroke-linecap: round;
  stroke-dasharray: 2150 345;
  stroke-dashoffset: -300;
  animation: path 3s infinite;
}

@keyframes path {
  0% {
    stroke-dashoffset: -300;
  }

  100% {
    stroke-dashoffset: 2195;
  }
}

.refresh p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.container > :not(.background) {
  margin: 0 20px;
}

.background {
  z-index: -1;
  height: 560px;
  background: url("../assets/bg_first_cloudy.png") no-repeat;
  background-size: 100% 100%;
}

.container .temp-now {
  position: relative;
  margin-top: -120px;
  margin-bottom: -80px;
  font-size: 88px;
  font-family: "XType";
}

.container .temp-now img {
  position: absolute;
  height: 68px;
  margin-top: 26px;
}

.container .right {
  text-align: right;
  margin-top: -96px;
}

.container .right .weather {
  font-size: 34px;
}

.container .right .airq {
  color: #8c8c8c;
  font-size: 14px;
  margin-top: 6px;
}

.container .a1 {
  position: relative;
  font-size: 14px;
  margin-top: 44px;
}

.container .a1 .day {
  margin-left: 14px;
}

.container .a1 .temp {
  position: absolute;
  right: 0;
  top: 4px;
}

.container .a2 {
  margin: 10px 0 0 0;
  height: 120px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.container .a2 ul {
  display: inline-block;
}

.container .a2 li {
  margin-right: 36px;
  display: inline-block;
}

.container .a2 li:first-child {
  margin-left: 20px;
}

.container .a2 li:last-child {
  margin-right: 20px;
}

.container .a2 p {
  color: #8c8c8c;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
}

.container .a2 img {
  width: 32px;
}

.c2 {
  text-align: center;
  font-size: 14px;
}

.c2 img {
  height: 10px;
  margin-left: 4px;
}
