@font-face {
  font-family: "XType";
  src: url("./font/XType-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.header {
  position: fixed;
  width: 100%;
}

.header .city {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}

.header .city_btn {
  position: relative;
  bottom: 27px;
  left: calc(100% - 40px);
  height: 20px;
  background: url(./assets/city_btn.png) no-repeat;
  background-size: contain;
}

.header .city_locate {
  position: absolute;
  margin-top: -18px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 6px;
  height: 8px;
  background: url(./assets/local_indicator_focused.png) no-repeat;
  background-size: contain;
  filter: invert(100%);
}

.header .tips {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-top: 4px;
}

.background {
  z-index: -1;
  height: 560px;
  background: url(./assets/bg_first_cloudy.png) no-repeat;
  background-size: 100% 100%;
}

.container .temp {
  margin-top: -120px;
  margin-bottom: -80px;
  margin-left: 20px;
  font-size: 88px;
  font-family: "XType";
}

.container .unit {
  height: 68px;
  margin-left: 94px;
}

.container .right {
  text-align: right;
  margin-right: 20px;
  margin-top: -96px;
}

.container .right .weather {
  font-size: 34px;
}

.container .right .airq {
  color: #8c8c8c;
  font-size: 14px;
  margin-top: 6px;
}
