@font-face {
  font-family: "XType";
  src: url("./font/XType-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.header {
  position: fixed;
  width: 100%;
}

.header .city {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}

.header .city_btn {
  position: relative;
  bottom: 27px;
  left: calc(100% - 40px);
  height: 20px;
  background: url(./assets/city_btn.png) no-repeat;
  background-size: contain;
}

.header .city_locate {
  position: absolute;
  margin-top: -18px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 6px;
  height: 8px;
  background: url(./assets/local_indicator_focused.png) no-repeat;
  background-size: contain;
  filter: invert(100%);
}

.header .tips {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-top: 4px;
}

.refresh {
  margin-top: 28px;
  text-align: center;
}

.refresh svg {
  height: 30px;
}

.refresh path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 80;
  stroke-linecap: round;
  stroke-dasharray: 2150 345;
  stroke-dashoffset: -300;
  animation: path 3s infinite;
}

@keyframes path {
  0% {
    stroke-dashoffset: -300;
  }

  100% {
    stroke-dashoffset: 2195;
  }
}

.refresh p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.background {
  z-index: -1;
  height: 560px;
  background: url(./assets/bg_first_cloudy.png) no-repeat;
  background-size: 100% 100%;
}

.a0 {
  opacity: 0;
  transition: .5s;
}

.container .temp-now {
  margin-top: -120px;
  margin-bottom: -80px;
  margin-left: 18px;
  font-size: 88px;
  font-family: "XType";
}

.container img {
  height: 68px;
  margin-left: 94px;
}

.container .right {
  text-align: right;
  margin-right: 20px;
  margin-top: -96px;
}

.container .right .weather {
  font-size: 34px;
}

.container .right .airq {
  color: #8c8c8c;
  font-size: 14px;
  margin-top: 6px;
}

.container .a1 {
  position: relative;
  font-size: 14px;
  margin: 44px 20px 0 20px;
}

.container .a1 .day {
  margin-left: 14px;
}

.container .a1 .temp {
  position: absolute;
  right: 0;
  top: 4px;
}

.c2 {
  text-align: center;
  font-size: 14px;
}

.c2 img {
  height: 10px;
  margin-left: 4px;
}

a {
  color: #007AFF;
  text-decoration: none;
}